{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity=" sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh " crossorigin="anonymous ">
</head>

<body>

    <div>
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags}} ">
            {{ message }}
        </div>
        {% endfor %} {% endif %}
    </div>


    <div style="width:50%;position: absolute; top: 6%; left: 15%;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group ">
                <legend class="border-bottom mb-4 ">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group ">
                <button class="btn btn-outline-info " type="submit ">Login</button>
            </div>
        </form>
        <div class="border-top pt-3 ">
            <small class="text-muted ">
                Need an Account? <a href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>



</body>

</html>